*/__pycache__/
*.py[oc]
build/
dist/
wheels/
models/
*.egg-info

.DS_Store
.vscode
.idea

.venv
.env

*.pt
*.pkl
*.npy
*.index
*.json

data/
output/

retriever/faiss_cache_new/*
docker/Dockerfile
site/
